/* 全体のチャット画面 */
.chat-container {
  width: 100%;
  margin: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: #fafaf0;
  color : #0D0301;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

/* ローディングのアニメーション*/

.loading-area {
  display: flex;
  justify-content: left;
  gap: 5px;
  padding: 40px;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.loading-area span {
  display: inline-block;
  font-weight: 550;
  color: #101010;
  font-size: 1rem;
  animation: rotate 0.8s infinite linear;
  text-transform: uppercase;
}

.loading-area span:nth-child(1) {
  animation-delay: 0s;
}

.loading-area span:nth-child(2) {
  animation-delay: 0.15s;
}

.loading-area span:nth-child(3) {
  animation-delay: 0.30s;
}

.loading-area span:nth-child(4) {
  animation-delay: 0.45s;
}

.loading-area span:nth-child(5) {
  animation-delay: 0.60s;
}

.loading-area span:nth-child(6) {
  animation-delay: 0.75s;
}

.loading-area span:nth-child(7) {
  animation: none;
}

.loading-area span:nth-child(8) {
  animation: none;
}


@keyframes rotate {
  70% {
      transform: rotateX(0deg);
  }

100% {
  transform: rotateX(360deg);
}

}

/* メッセージエリア */
.chat-box {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

/* 各メッセージの見た目 */
.message {
  max-width: 80%;
  padding: 25px;
  margin: 30px;
  border-radius: 40px;
  line-height: 1.4;
}

.message.user {
  background-color: #ffffff;
  box-shadow: 1.5px 1.5px 4px #696200;
  align-self: flex-end;
}

.message.bot {
  background-color: #FAEA00;
  box-shadow: 1.5px 1.5px 4px #696200;
  align-self: flex-start;
}

/* 入力欄まわり */
.input-bar {
  display: flex;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.input-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 40px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-bar input:focus {
  outline: none;
  box-shadow: inset 0px 0px 4px #34b7f1;
}

.input-bar button {
  margin-left: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 40px;
  background-color: #34b7f1;
  box-shadow: 1.5px 1.5px 4px #003d69;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.button-group button {
  flex: 1;
  padding: 20px 30px;
  border: none;
  border-radius: 40px;
  background:#45aaf2;
  box-shadow: 1.5px 1.5px 4px #003d69;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}